/* Estilos del terrario */
h1 {
    color:coral;
    text-align:center;
   }

.container {
    padding: 10px;
    background-color:blanchedalmond;
    width: 15%;
    position: absolute;
    height: 100%;
    top: 0px;
    border: 3px;
    border-style: dashed;
    border-color:black;
}

#right-container {
    right: 0px;
}

#left-container {
    left: 0px;
}
.plant-holder {
    position: relative;
    height: 13%;
    left: -10px;
    border: 3px;
    border-style: dashed;
    border-color:black;
}

.plant{
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}